* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
}

/*header section*/
header {
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(119, 28, 21);
    padding: 20px 10px 0px 10px;
    justify-content: center;
    border-top: 10px ridge #f7e225;
    border-left: 10px ridge #f7e225;
    border-right: 10px ridge #f7e225;
    
}
header h1 {
    color: #ffffff;
    font-weight:bolder;
    font-size: 60px;
    align-items: baseline;
    justify-content: center;
    border-bottom: 10px double #f7e225;
}

header a {
    text-decoration: None;
    color: #ffffff;
}
/*navigation bar*/
nav {
    background-color: rgb(119, 28, 21);
    padding:20px;
    list-style: none;
    color: #ffffff;
    border-bottom: 10px ridge #f7e225;
    border-left: 10px ridge #f7e225;
    border-right: 10px ridge #f7e225;
}
nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
nav ul li {
    padding: 0 20px;
    font-size: 30px;
    list-style: none;
    
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    
}
nav ul li a:hover {
    color: #f7e225;
}
/*hero section*/
.hero {
    background-image: url('../images/handshake-sketch.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0px;
}
.hero-content-image {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
}
.hero-content-image img {
    width: 20vw;
    border: 8px ridge #f7e225;
}

/* about me section*/
.about-me {
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    justify-content: center;
    border-bottom: 10px ridge rgb(119,28,21);
}
.about-me h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #f7e225;
    text-shadow: 1px 1px 1px rgb(119, 28, 21);
}
.about-me p {
    flex-wrap: wrap;
    font-size: 20px;
    color: rgb(119, 28, 21);
}
/*about me styling ends*/

/*my work styling starts*/
.my-work {
    background-color: #f7e225;
    display:flex;
    flex-wrap: wrap;
    padding: px;
    justify-content: center;
    border-bottom: 10px ridge rgb(119, 28, 21);
}
.my-work h2 {
    font-size: 50px;
    color: rgb(119, 28, 21);
    text-shadow: 1px 1px 1px #ffffff;
}
.run-buddy {
    display:flex;
    justify-content: center;
    padding: 20px;
}
.run-buddy img {
    border: ridge 10px #f7e225;
}

/*my work styling ends*/

/*contact styling starts*/
.contact-me {
    display:flex;
    flex-direction: column;
    background-color: rgb(119, 28, 21);
    padding: 20px;
    justify-content: center;

}
.contact-me h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #f7e225;
}
.contact-me p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
}
.contact-me address {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
}
.contact-me address a {
    text-decoration: none;
    color: #f7e225;
}
/* contact styling ends*/


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero-content-image img {
        width: 25vw;
        border: 8px ridge #f7e225;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .hero {
        padding: 10px 0px;
    }
    .hero-content-image img {
        width: 25vw;
        border: 8px ridge #f7e225;
    }
    header h1 {
        font-size: 40px; 
     }
     nav ul li {
         font-size: 20px;
     }
     .about-me h2 {
         font-size: 38px;
     }
     .my-work h2 {
         font-size: 38px;
     }
     .contact-me h2 {
         font-size: 36px;
     }
     .about-me p {
         font-size: 18px;
   }
 }
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header h1 {
       font-size: 40px; 
    }
    nav ul li {
        font-size: 20px;
    }
    .hero-content-image img {
        width: 35vw;
        border: 8px ridge #f7e225;
    }
    .about-me h2 {
        font-size: 38px;
    }
    .my-work h2 {
        font-size: 38px;
    }
    .contact-me h2 {
        font-size: 36px;
    }
    .about-me p {
        font-size: 16px;
  }
}
@media screen and (max-width: 507px) {
    header h1 {
        font-size: 30px; 
     }
     nav ul li {
         justify-content: space-between;
         font-size: 18px;
     }
     .hero-content-image img {
        width: 40vw;
        border: 8px ridge #f7e225;
    }
     .about-me h2 {
         font-size: 30px;
     }
     .my-work h2 {
         font-size: 30px;
     }
     .contact-me h2 {
         font-size: 30px;
     }
     .about-me p {
         font-size: 18px;
   }
    .contact-me p {
        font-size: 16px;
    }
    .contact-me address {
        font-size: 16px;
    }
}

@media screen and (max-width: 406px) {
    header h1 {
        font-size: 26px;
     }
     nav ul li {
         justify-content: space-between;
         font-size: 14px;
     }
     .hero-content-image img {
        width: 40vw;
        border: 8px ridge #f7e225;
    }
     .about-me h2 {
         font-size: 30px;
     }
     .my-work h2 {
         font-size: 30px;
     }
     .contact-me h2 {
         font-size: 30px;
     }
     .about-me p {
         font-size: 16px;
   }
    .contact-me p {
        font-size: 15px;
    }
    .contact-me address {
        font-size: 16px;
    }
}