* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
}

/*header section*/
header {
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(119, 28, 21);
    padding: 20px 10px 0px 10px;
    justify-content: center;
    border-top: 10px ridge #ffffff;
    border-left: 10px ridge #ffffff;
    border-right: 10px ridge #ffffff;
    
}
header h1 {
    color: #ffffff;
    font-weight:bolder;
    font-size: 60px;
    align-items: baseline;
    justify-content: center;
    border-bottom: 10px double #f7e225;
}

header a {
    text-decoration: None;
    color: #ffffff;
}
/*navigation bar*/
nav {
    background-color: rgb(119, 28, 21);
    padding:20px 35px;
    list-style: none;
    color: #ffffff;
    border-bottom: 10px ridge #ffffff;
    border-left: 10px ridge #ffffff;
    border-right: 10px ridge #ffffff;
}
nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
nav ul li {
    padding: 0 20px;
    font-size: 30px;
    list-style: none;
    
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    
}
nav ul li a:hover {
    color: #f7e225;
}
